body{
    background: linear-gradient(to right,rgb(137, 119, 189),rgba(137, 119, 189,0));
    /* background: rgba(240, 179, 222,0.5); */
    /* background-image: url("https://image.shutterstock.com/image-vector/internet-connection-abstract-sense-science-260nw-554257006.jpg");
    /* background-size: 1000px 800px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
#title{
    color: rgb(31, 109, 119);
}
.subtitle{
    color:rgb(37, 153, 22)
}
